@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Barlow+Condensed&family=Barlow+Semi+Condensed:wght@500&family=Kanit&family=Poppins:ital,wght@0,600;0,700;1,400&family=Rubik:wght@400;500&display=swap');*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;}
.section{
    max-width: 1024px;
    width: 100%;
    background: blue;
}

// .dashboardInput input[type="text"]{
//     width: 50%;
//     border: 1px solid red;

// }




.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #ffdd00;
    box-shadow: inset 0 0 0 4px #edf2f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #ffdd00;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #edf2f4;
  }
  