<div class="addNewProduct">
  <!-- 1024 -->
  <div class="section">
    <h1 class="addNewProduct-h1">Add New Product</h1>
    <!-- form -->
    <form method="post" action="/api/addproduct">
        <!-- Product Name -->
        <div class="addNewProduct-row">
      <div class="addNewProduct-section">
        <label for="productName">Product Name : </label>
        <input name="productName" class="dashboardInput" type="text" />
      </div>
      <!-- Product Pric -->
      <div class="addNewProduct-section">
        <label for="productPrice"> Product Pric : </label>
        <input class="productName" type="number" name="productPrice" />
      </div>
      <!-- no Product  -->
      <div class="addNewProduct-section">
        <label for="productNum"> Product Number : </label>
        <input name="productNum" class="dashboardInput" type="number"  />
      </div>
    </div>
    <button> click</button>
    </form>
  </div>
</div>
